/* os_viewer.css */
Screen {
    /* Use a vertical layout for the Header, Container, and Footer */
    layout: vertical;
}

Container {
    /* Add some padding around the main content area */
    padding: 1 2;
    width: 100%;
    height: 100%;
}

DataTable {
    /* Make the table fill the available space */
    height: 100%;
}
